li {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 12px 24px;
    margin-bottom: 12px;
    list-style: none;

    display: flex;
    justify-content: space-between;

}